In [2]:
# initial setup
try:
    # settings colab:
    import google.colab
    
    # si usan colab, deben cambiar el token de esta url
    #! mkdir -p ../data
    # los que usan colab deben modificar el token de esta url:
    #! wget -O ../data/properati_2017.csv https://raw.githubusercontent.com/Digital-House-DATA/ds_blend_students_2020/master/M2/CLASE_07_Pandas_2/Data/resultado-de-encuestas-2017-2018.csv?token=AA4GFHO3EKGWGILBCV4BISC6WR6B4
    
except ModuleNotFoundError:    
    # settings local:
    %run "common/base_setup.py"

Running command `conda list`... ok
pandas=1.0.3 already installed
matplotlib=2.2.2 already installed
bokeh=2.0.0 already installed
seaborn=0.10.0 already installed
ipywidgets=7.5.1 already installed
pytest=5.3.4 already installed
chardet=3.0.4 already installed
plotly=4.6.0 already installed
Running command `conda install --yes chart-studio=1.1.0`... error

PackagesNotFoundError: The following packages are not available from current channels:

  - chart-studio=1.1.0

Current channels:

  - https://repo.anaconda.com/pkgs/main/linux-64
  - https://repo.anaconda.com/pkgs/main/noarch
  - https://repo.anaconda.com/pkgs/r/linux-64
  - https://repo.anaconda.com/pkgs/r/noarch

To search for alternate channels that may provide the conda package you're
looking for, navigate to

    https://anaconda.org

and use the search bar at the top of the page.

In [74]:
import pandas as pd
import numpy as np
import re

In [4]:
# low_memorybool, default True
# Internally process the file in chunks, resulting in lower memory use while parsing, 
# but possibly mixed type inference. To ensure no mixed types either set False, 
# or specify the type with the dtype parameter. 
# Note that the entire file is read into a single DataFrame regardless, 
# use the chunksize or iterator parameter to return the data in chunks. (Only valid with C parser).
data = pd.read_csv("./data/properati_2017.csv", sep = ",", low_memory=False)

In [5]:
data.shape

(121220, 26)

In [8]:
data.columns

Index(['Unnamed: 0', 'operation', 'property_type', 'place_name',
       'place_with_parent_names', 'country_name', 'state_name', 'geonames_id',
       'lat-lon', 'lat', 'lon', 'price', 'currency',
       'price_aprox_local_currency', 'price_aprox_usd', 'surface_total_in_m2',
       'surface_covered_in_m2', 'price_usd_per_m2', 'price_per_m2', 'floor',
       'rooms', 'expenses', 'properati_url', 'description', 'title',
       'image_thumbnail'],
      dtype='object')

In [9]:
data.dtypes

Unnamed: 0                      int64
operation                      object
property_type                  object
place_name                     object
place_with_parent_names        object
country_name                   object
state_name                     object
geonames_id                   float64
lat-lon                        object
lat                           float64
lon                           float64
price                         float64
currency                       object
price_aprox_local_currency    float64
price_aprox_usd               float64
surface_total_in_m2           float64
surface_covered_in_m2         float64
price_usd_per_m2              float64
price_per_m2                  float64
floor                         float64
rooms                         float64
expenses                      float64
properati_url                  object
description                    object
title                          object
image_thumbnail                object
dtype: object

In [10]:
data.head(3)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en d√©cimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...

In [11]:
data.isnull().sum(axis=0)

Unnamed: 0                         0
operation                          0
property_type                      0
place_name                        23
place_with_parent_names            0
country_name                       0
state_name                         0
geonames_id                    18717
lat-lon                        51550
lat                            51550
lon                            51550
price                          20410
currency                       20411
price_aprox_local_currency     20410
price_aprox_usd                20410
surface_total_in_m2            39328
surface_covered_in_m2          19907
price_usd_per_m2               52603
price_per_m2                   33562
floor                         113321
rooms                          73830
expenses                      106958
properati_url                      0
description                        2
title                              0
image_thumbnail                 3112
dtype: int64

In [17]:
without_place = data[data["place_name"].isnull()][["place_name", "place_with_parent_names"]].drop_duplicates()
without_place

     place_name                      place_with_parent_names
6489        NaN  |Argentina|Bs.As. G.B.A. Zona Norte|Tigre||

## TODO 1:
Programar funci√≥n para extraer la zona del anterior dataset.

In [111]:
data[data["place_name"].isnull()] = "Tigre"
data["title"] = data["title"].str.lower()

In [117]:
price_na_mask   = data[['price', 'price_aprox_local_currency', 'price_aprox_usd']].isna().all(axis=1)
surface_na_mask = data[['surface_total_in_m2', 'surface_covered_in_m2']].isna().all(axis=1)
pper_m2_na_mask = data[['price_per_m2', 'price_usd_per_m2']].isna().all(axis=1)
uncalculable_price_mask = price_na_mask & (surface_na_mask | pper_m2_na_mask)

df_uncalculables = data[uncalculable_price_mask]
print("Missing prices (uncalculable): {0}".format(df_uncalculables.index.size))

df_calculables = data[~uncalculable_price_mask]
print("Populated or calculable prices: {0}".format(df_calculables.index.size))

Missing prices (uncalculable): 17792
Populated or calculable prices: 103428

In [120]:
calculables_prop_nulls_expenses = df_calculables['expenses'].isnull().sum() / df_calculables.index.size
print("Proportion of missing expenses: {0}".format(calculables_prop_nulls_expenses))
calculables_prop_calcs_expenses = df_calculables['description'].str.contains('expensa', case=False, regex=False).sum() / df_calculables.index.size
print("Proportion of posibles calculable expenses: {0}".format(calculables_prop_calcs_expenses))

Proportion of missing expenses: 0.8717078547395289
Proportion of posibles calculable expenses: 0.1436458212476312

In [131]:
calculables_prop_nulls_floor = df_calculables['floor'].isnull().sum() / df_calculables.index.size
print("Proportion of missing floors: {0}".format(calculables_prop_nulls_floor))

df_calculables_apartment = df_calculables[df_calculables['property_type'] == 'apartment']
calculables_prop_nulls_floor_in_apartment = \
    df_calculables_apartment['floor'].isnull().sum() / df_calculables_apartment.index.size
print("Missing prices (apartments only): {0}".format(df_calculables_apartment.index.size))
print("Proportion of missing floors (apartments only): {0}".format(calculables_prop_nulls_floor_in_apartment))

calculables_prop_calcs_floor = \
    df_calculables_apartment['description'].str.contains('piso|planta|baja', case=False).sum() / df_calculables_apartment.index.size
print("Proportion of posibles calculable floors: {0}".format(calculables_prop_calcs_floor))

Proportion of missing floors: 0.9322233824496268
Missing prices (apartments only): 60468
Proportion of missing floors (apartments only): 0.9011212542171065
Proportion of posibles calculable floors: 0.6237679433750083

In [125]:
calculables_prop_nulls_room = df_calculables['rooms'].isnull().sum() / df_calculables.index.size
print("Proportion of missing rooms: {0}".format(calculables_prop_nulls_room))

Proportion of missing rooms: 0.3080693815987934

## TODO 2:
Eliminar las columnas:
* **country_name**
* **place_with_parent_names**
* **operation**
* **image_thumbnail**
* **properati_url**
* **expenses**
* **floor**

In [46]:
# cantidad de localidades
len(pd.unique(data["place_name"]))

1060

In [106]:
def set_price_if_usd_in_title(r):
    if re.search(r'en\s+venta', r.title, re.I):
        if r.title.startswith(r'U$D') or r.title.startswith(r'usd'):
            r.price    = np.float64(r.title.split()[1].strip().replace('.', ''))
            r.currency = 'USD'
        elif r.title.startswith(r'$'):
            r.price    = np.float64(r.title.split()[1].strip().replace('.', ''))
            r.currency = 'ARS'
    elif re.search(r'precio\s+total\s+u\$d', r.title, re.I):
    return r

data = data.apply(set_price_if_usd_in_title, axis=1)

In [107]:
price_grouped = data.groupby('place_name')['price']
place_name_isnull = price_grouped.apply(lambda x: x.isnull().sum())
place_name_counts = price_grouped.apply(lambda x: x.index.size)
place_name_df = pd.merge(place_name_isnull, place_name_counts, on='place_name')
place_name_df.columns = ['nulls', 'total']
place_name_df['percent'] = place_name_df['nulls'] / place_name_df['total'] 

place_name_df

                         nulls  total   percent
place_name
 Country Maschwitz Club      0      3  0.000000
 los alamos                  0      1  0.000000
9 de Abril                   0      3  0.000000
Abasto                      30    139  0.215827
Abril Club de Campo         13     19  0.684211
...                        ...    ...       ...
Yerba Buena                161    191  0.842932
Zelaya                       0      7  0.000000
Z√°rate                       2     15  0.133333
coordenadas 34.255511        0      1  0.000000
√Ålvarez                      1      1  1.000000

[1060 rows x 3 columns]

In [72]:
# cantidad de estados
len(pd.unique(data["state_name"]))

29

In [110]:
price_grouped = data.groupby('state_name')['price']
state_name_isnull = price_grouped.apply(lambda x: x.isnull().sum())
state_name_counts = price_grouped.apply(lambda x: x.index.size)
state_name_df = pd.merge(state_name_isnull, state_name_counts, on='state_name')
state_name_df.columns = ['nulls', 'total']
state_name_df['percent'] = state_name_df['nulls'] / state_name_df['total'] 

state_name_df

                              nulls  total   percent
state_name
Bs.As. G.B.A. Zona Norte        708  25537  0.027724
Bs.As. G.B.A. Zona Oeste        726   9322  0.077880
Bs.As. G.B.A. Zona Sur         1815  13952  0.130089
Buenos Aires Costa Atl√°ntica    924  10006  0.092345
Buenos Aires Interior           465   2291  0.202968
Capital Federal                3112  32316  0.096299
Catamarca                         1     27  0.037037
Chaco                            21     57  0.368421
Chubut                           93    259  0.359073
Corrientes                      113    583  0.193825
C√≥rdoba                        2821  12069  0.233739
Entre R√≠os                      239    369  0.647696
Formosa                          36     65  0.553846
Jujuy                            16     26  0.615385
La Pampa                        121    157  0.770701
La Rioja                          2      4  0.500000
Mendoza                         174    681  0.255507
Misiones                        110    464  0.237069
Neuqu√©n                         406    733  0.553888
R√≠o Negro                       445    808  0.550743
Salta                           174    278  0.625899
San Juan                         35     40  0.875000
San Luis                         43    252  0.170635
Santa Cruz                        1     20  0.050000
Santa Fe                       4749  10172  0.466870
Santiago Del Estero               1      4  0.250000
Tierra Del Fuego                  0     31  0.000000
Tigre                             0     23  0.000000
Tucum√°n                         441    674  0.654303

In [105]:
len(pd.unique(data[(data['state_name'] == 'Bs.As. G.B.A. Zona Norte') & (data['price'].isnull())]['title']))

402

In [50]:
def percent_of_null_by(target, groupby, df, umbral=0.0, strict=False):
    result = df.groupby(groupby)[target]
    result = result.apply(lambda x: x.isnull().sum() / x.index.size)
    return result[result > umbral] if strict else result[result >= umbral]

len(percent_of_null_by('price', 'place_name', data, 0.5))

205